<div class="container-fluid">
	<div class="row-fluid">
		<div class="span10">
			<p>Listing Genres</p>
			<div class="genres">
				<div ng-repeat="genre in genres" class="thumbnail">
					<div class="container-fluid">
						<div class="span9">	  
							<p>{{genre.name}}</p>							
							<div class = "reButtons">
								<button ng-click="remove(genre._id)" class="btn btn-danger">remove</button>
								<button ng-click="edit(genre._id)" class="btn btn-inverse">edit</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>